.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s ease;
  height: 50px;
  padding: 10px;
}

.App-header {
  background-color: #222;
  color: white;
  display: flex;
  height: 80px;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  0% { transform: translateY(5px); }
  25% { transform: translateY(5px); }
  75% { transform: translateY(10px); }
  100% { transform: translateY(0); }
} */

.marker {
  height: 40px;
}
