:root {
  --scarlet: #793236;
}

html {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, Tahoma, Sans-Serif;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: inherit; 
}

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 2s ease; */
  height: 40px;
  margin: 10px;
}

.App-header {
  background-color: #222;
  color: white;
  display: flex;
  height: 80px;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  0% { transform: translateY(5px); }
  25% { transform: translateY(5px); }
  75% { transform: translateY(10px); }
  100% { transform: translateY(0); }
} */

.marker {
  height: 40px;
}

.main-content {
  display: grid;
  grid-template-columns: 20% 80%;
}

.list-view,
.view-list {
  background-color: #222;
}

#filter {
  font-size: 16px;
  height: 30px;
  margin-top: 20px;
  padding: 5px;
  width: calc(100% - 60px);
}

.filtered-list {
  color: white;
  font-size: 16px;
  list-style: none;
  padding: 0;
  text-align: left;
}

.li-place {
  padding: 15px 30px;
}

.li-place:hover {
  background-color: rgb(94, 94, 94);
  cursor: pointer;
}